{
  "$schema": "http://json.schemastore.org/eslintrc",
  "root": true,
  "plugins": ["jest-dom"],
  "extends": ["react-app", "react-app/jest", "plugin:jest-dom/recommended", "prettier"],
  "rules": {}
}
