{
  "$schema": "http://json.schemastore.org/stylelintrc",
  "extends": ["stylelint-config-standard"],
  "overrides": [
    {
      "files": ["**/*.{js,jsx}"],
      "customSyntax": "postcss-styled-syntax"
    }
  ],
  "rules": {}
}
